@font-face {
  font-family: 'yh-506L';
  src: url('506L.eot');
  src: url('506L.eot?#iefix') format('embedded-opentype'),
       url('506L.woff2') format('woff2'),
       url('506L.woff') format('woff'),
       url('506L.ttf') format('truetype'),
       url('506L.svg#506L') format('svg');
}
