@font-face {
  font-family: 'yh-508R';
  src: url('508R.eot');
  src: url('508R.eot?#iefix') format('embedded-opentype'),
       url('508R.woff2') format('woff2'),
       url('508R.woff') format('woff'),
       url('508R.ttf') format('truetype'),
       url('508R.svg#508R') format('svg');
}
