@font-face {
  font-family: 'dqh-w3';
  src: url('w3.eot');
  src: url('w3.eot?#iefix') format('embedded-opentype'),
       url('w3.woff2') format('woff2'),
       url('w3.woff') format('woff'),
       url('w3.ttf') format('truetype'),
       url('w3.svg#w3') format('svg');
}
