@font-face {
  font-family: 'jx-f';
  src: url(/Users/Souler/Desktop/font_gen/pingfang/jx-f/jx-f.eot);
  src: url(/Users/Souler/Desktop/font_gen/pingfang/jx-f/jx-f.eot?#iefix) format('embedded-opentype'),
       url(/Users/Souler/Desktop/font_gen/pingfang/jx-f/jx-f.woff2) format('woff2'),
       url(/Users/Souler/Desktop/font_gen/pingfang/jx-f/jx-f.woff) format('woff'),
       url(/Users/Souler/Desktop/font_gen/pingfang/jx-f/jx-f.ttf) format('truetype'),
       url(/Users/Souler/Desktop/font_gen/pingfang/jx-f/jx-f.svg#jx-f) format('svg');
}
