@font-face {
  font-family: 'jx-j';
  src: url(/Users/Souler/Desktop/font_gen/pingfang/jx-j/jx-j.eot);
  src: url(/Users/Souler/Desktop/font_gen/pingfang/jx-j/jx-j.eot?#iefix) format('embedded-opentype'),
       url(/Users/Souler/Desktop/font_gen/pingfang/jx-j/jx-j.woff2) format('woff2'),
       url(/Users/Souler/Desktop/font_gen/pingfang/jx-j/jx-j.woff) format('woff'),
       url(/Users/Souler/Desktop/font_gen/pingfang/jx-j/jx-j.ttf) format('truetype'),
       url(/Users/Souler/Desktop/font_gen/pingfang/jx-j/jx-j.svg#jx-j) format('svg');
}
