@font-face {
  font-family: 'x-f';
  src: url(/Users/Souler/Desktop/font_gen/pingfang/x-f/x-f.eot);
  src: url(/Users/Souler/Desktop/font_gen/pingfang/x-f/x-f.eot?#iefix) format('embedded-opentype'),
       url(/Users/Souler/Desktop/font_gen/pingfang/x-f/x-f.woff2) format('woff2'),
       url(/Users/Souler/Desktop/font_gen/pingfang/x-f/x-f.woff) format('woff'),
       url(/Users/Souler/Desktop/font_gen/pingfang/x-f/x-f.ttf) format('truetype'),
       url(/Users/Souler/Desktop/font_gen/pingfang/x-f/x-f.svg#x-f) format('svg');
}
