@font-face {
  font-family: 'x-j';
  src: url(/Users/Souler/Desktop/font_gen/pingfang/x-j/x-j.eot);
  src: url(/Users/Souler/Desktop/font_gen/pingfang/x-j/x-j.eot?#iefix) format('embedded-opentype'),
       url(/Users/Souler/Desktop/font_gen/pingfang/x-j/x-j.woff2) format('woff2'),
       url(/Users/Souler/Desktop/font_gen/pingfang/x-j/x-j.woff) format('woff'),
       url(/Users/Souler/Desktop/font_gen/pingfang/x-j/x-j.ttf) format('truetype'),
       url(/Users/Souler/Desktop/font_gen/pingfang/x-j/x-j.svg#x-j) format('svg');
}
