@font-face {
  font-family: 'xx-f';
  src: url(/Users/Souler/Desktop/font_gen/pingfang/xx-f/xx-f.eot);
  src: url(/Users/Souler/Desktop/font_gen/pingfang/xx-f/xx-f.eot?#iefix) format('embedded-opentype'),
       url(/Users/Souler/Desktop/font_gen/pingfang/xx-f/xx-f.woff2) format('woff2'),
       url(/Users/Souler/Desktop/font_gen/pingfang/xx-f/xx-f.woff) format('woff'),
       url(/Users/Souler/Desktop/font_gen/pingfang/xx-f/xx-f.ttf) format('truetype'),
       url(/Users/Souler/Desktop/font_gen/pingfang/xx-f/xx-f.svg#xx-f) format('svg');
}
