@font-face {
  font-family: 'xx-j';
  src: url(/Users/Souler/Desktop/font_gen/pingfang/xx-j/xx-j.eot);
  src: url(/Users/Souler/Desktop/font_gen/pingfang/xx-j/xx-j.eot?#iefix) format('embedded-opentype'),
       url(/Users/Souler/Desktop/font_gen/pingfang/xx-j/xx-j.woff2) format('woff2'),
       url(/Users/Souler/Desktop/font_gen/pingfang/xx-j/xx-j.woff) format('woff'),
       url(/Users/Souler/Desktop/font_gen/pingfang/xx-j/xx-j.ttf) format('truetype'),
       url(/Users/Souler/Desktop/font_gen/pingfang/xx-j/xx-j.svg#xx-j) format('svg');
}
