@font-face {
  font-family: 'z-f';
  src: url(/Users/Souler/Desktop/font_gen/pingfang/z-f/z-f.eot);
  src: url(/Users/Souler/Desktop/font_gen/pingfang/z-f/z-f.eot?#iefix) format('embedded-opentype'),
       url(/Users/Souler/Desktop/font_gen/pingfang/z-f/z-f.woff2) format('woff2'),
       url(/Users/Souler/Desktop/font_gen/pingfang/z-f/z-f.woff) format('woff'),
       url(/Users/Souler/Desktop/font_gen/pingfang/z-f/z-f.ttf) format('truetype'),
       url(/Users/Souler/Desktop/font_gen/pingfang/z-f/z-f.svg#z-f) format('svg');
}
