@font-face {
  font-family: 'z-j';
  src: url(/Users/Souler/Desktop/font_gen/pingfang/z-j/z-j.eot);
  src: url(/Users/Souler/Desktop/font_gen/pingfang/z-j/z-j.eot?#iefix) format('embedded-opentype'),
       url(/Users/Souler/Desktop/font_gen/pingfang/z-j/z-j.woff2) format('woff2'),
       url(/Users/Souler/Desktop/font_gen/pingfang/z-j/z-j.woff) format('woff'),
       url(/Users/Souler/Desktop/font_gen/pingfang/z-j/z-j.ttf) format('truetype'),
       url(/Users/Souler/Desktop/font_gen/pingfang/z-j/z-j.svg#z-j) format('svg');
}
