@font-face {
  font-family: 'zc-f';
  src: url(/Users/Souler/Desktop/font_gen/pingfang/zc-f/zc-f.eot);
  src: url(/Users/Souler/Desktop/font_gen/pingfang/zc-f/zc-f.eot?#iefix) format('embedded-opentype'),
       url(/Users/Souler/Desktop/font_gen/pingfang/zc-f/zc-f.woff2) format('woff2'),
       url(/Users/Souler/Desktop/font_gen/pingfang/zc-f/zc-f.woff) format('woff'),
       url(/Users/Souler/Desktop/font_gen/pingfang/zc-f/zc-f.ttf) format('truetype'),
       url(/Users/Souler/Desktop/font_gen/pingfang/zc-f/zc-f.svg#zc-f) format('svg');
}
