@font-face {
  font-family: 'zc-j';
  src: url(/Users/Souler/Desktop/font_gen/pingfang/zc-j/zc-j.eot);
  src: url(/Users/Souler/Desktop/font_gen/pingfang/zc-j/zc-j.eot?#iefix) format('embedded-opentype'),
       url(/Users/Souler/Desktop/font_gen/pingfang/zc-j/zc-j.woff2) format('woff2'),
       url(/Users/Souler/Desktop/font_gen/pingfang/zc-j/zc-j.woff) format('woff'),
       url(/Users/Souler/Desktop/font_gen/pingfang/zc-j/zc-j.ttf) format('truetype'),
       url(/Users/Souler/Desktop/font_gen/pingfang/zc-j/zc-j.svg#zc-j) format('svg');
}
