@font-face {
  font-family: 'zh-f';
  src: url(/Users/Souler/Desktop/font_gen/pingfang/zh-f/zh-f.eot);
  src: url(/Users/Souler/Desktop/font_gen/pingfang/zh-f/zh-f.eot?#iefix) format('embedded-opentype'),
       url(/Users/Souler/Desktop/font_gen/pingfang/zh-f/zh-f.woff2) format('woff2'),
       url(/Users/Souler/Desktop/font_gen/pingfang/zh-f/zh-f.woff) format('woff'),
       url(/Users/Souler/Desktop/font_gen/pingfang/zh-f/zh-f.ttf) format('truetype'),
       url(/Users/Souler/Desktop/font_gen/pingfang/zh-f/zh-f.svg#zh-f) format('svg');
}
