@font-face {
  font-family: 'zh-j';
  src: url(/Users/Souler/Desktop/font_gen/pingfang/zh-j/zh-j.eot);
  src: url(/Users/Souler/Desktop/font_gen/pingfang/zh-j/zh-j.eot?#iefix) format('embedded-opentype'),
       url(/Users/Souler/Desktop/font_gen/pingfang/zh-j/zh-j.woff2) format('woff2'),
       url(/Users/Souler/Desktop/font_gen/pingfang/zh-j/zh-j.woff) format('woff'),
       url(/Users/Souler/Desktop/font_gen/pingfang/zh-j/zh-j.ttf) format('truetype'),
       url(/Users/Souler/Desktop/font_gen/pingfang/zh-j/zh-j.svg#zh-j) format('svg');
}
