@font-face {
  font-family: 'lth-hb';
  src: url('hb.eot');
  src: url('hb.eot?#iefix') format('embedded-opentype'),
       url('hb.woff2') format('woff2'),
       url('hb.woff') format('woff'),
       url('hb.ttf') format('truetype'),
       url('hb.svg#hb') format('svg');
}
