@font-face {
  font-family: 'syh-el';
  src: url('syh-el.eot');
  src: url('syh-el.eot?#iefix') format('embedded-opentype'),
       url('syh-el.woff2') format('woff2'),
       url('syh-el.woff') format('woff'),
       url('syh-el.ttf') format('truetype'),
       url('syh-el.svg#syh-el') format('svg');
}
