@font-face {
  font-family: 'yh-502L';
  src: url('502L.eot');
  src: url('502L.eot?#iefix') format('embedded-opentype'),
       url('502L.woff2') format('woff2'),
       url('502L.woff') format('woff'),
       url('502L.ttf') format('truetype'),
       url('502L.svg#502L') format('svg');
}
