@font-face {
  font-family: 'noto-light';
  src: url('light.eot');
  src: url('light.eot?#iefix') format('embedded-opentype'),
       url('light.woff2') format('woff2'),
       url('light.woff') format('woff'),
       url('light.ttf') format('truetype'),
       url('light.svg#light') format('svg');
}
