@font-face {
  font-family: 'noto-thin';
  src: url('thin.eot');
  src: url('thin.eot?#iefix') format('embedded-opentype'),
       url('thin.woff2') format('woff2'),
       url('thin.woff') format('woff'),
       url('thin.ttf') format('truetype'),
       url('thin.svg#thin') format('svg');
}
