@font-face {
  font-family: 'yh-510M';
  src: url('510M.eot');
  src: url('510M.eot?#iefix') format('embedded-opentype'),
       url('510M.woff2') format('woff2'),
       url('510M.woff') format('woff'),
       url('510M.ttf') format('truetype'),
       url('510M.svg#510M') format('svg');
}
