@font-face {
  font-family: 'yx-reg';
  src: url('FZYXJW.eot');
  src: url('FZYXJW.eot?#iefix') format('embedded-opentype'),
       url('FZYXJW.woff2') format('woff2'),
       url('FZYXJW.woff') format('woff'),
       url('FZYXJW.ttf') format('truetype'),
       url('FZYXJW.svg#FZYXJW') format('svg');
}
