@font-face {
  font-family: 'syh-bold';
  src: url('syh-bold.eot');
  src: url('syh-bold.eot?#iefix') format('embedded-opentype'),
       url('syh-bold.woff2') format('woff2'),
       url('syh-bold.woff') format('woff'),
       url('syh-bold.ttf') format('truetype'),
       url('syh-bold.svg#syh-bold') format('svg');
}
