@font-face {
  font-family: 'noto-regular';
  src: url('regular.eot');
  src: url('regular.eot?#iefix') format('embedded-opentype'),
       url('regular.woff2') format('woff2'),
       url('regular.woff') format('woff'),
       url('regular.ttf') format('truetype'),
       url('regular.svg#regular') format('svg');
}
