@font-face {
  font-family: 'wqy-zh-dk';
  src: url('zh-dk.eot');
  src: url('zh-dk.eot?#iefix') format('embedded-opentype'),
       url('zh-dk.woff2') format('woff2'),
       url('zh-dk.woff') format('woff'),
       url('zh-dk.ttf') format('truetype'),
       url('zh-dk.svg#zh-dk') format('svg');
}
