@font-face {
  font-family: 'yh-511M';
  src: url('511M.eot');
  src: url('511M.eot?#iefix') format('embedded-opentype'),
       url('511M.woff2') format('woff2'),
       url('511M.woff') format('woff'),
       url('511M.ttf') format('truetype'),
       url('511M.svg#511M') format('svg');
}
