@font-face {
  font-family: 'yh-509R';
  src: url('509R.eot');
  src: url('509R.eot?#iefix') format('embedded-opentype'),
       url('509R.woff2') format('woff2'),
       url('509R.woff') format('woff'),
       url('509R.ttf') format('truetype'),
       url('509R.svg#509R') format('svg');
}
