@font-face {
  font-family: 'jk-w03';
  src: url('w03.eot');
  src: url('w03.eot?#iefix') format('embedded-opentype'),
       url('w03.woff2') format('woff2'),
       url('w03.woff') format('woff'),
       url('w03.ttf') format('truetype'),
       url('w03.svg#w03') format('svg');
}
