@font-face {
  font-family: 'wqy-wmh';
  src: url('wmh.eot');
  src: url('wmh.eot?#iefix') format('embedded-opentype'),
       url('wmh.woff2') format('woff2'),
       url('wmh.woff') format('woff'),
       url('wmh.ttf') format('truetype'),
       url('wmh.svg#wmh') format('svg');
}
