@font-face {
  font-family: 'syh-norm';
  src: url('syh-norm.eot');
  src: url('syh-norm.eot?#iefix') format('embedded-opentype'),
       url('syh-norm.woff2') format('woff2'),
       url('syh-norm.woff') format('woff'),
       url('syh-norm.ttf') format('truetype'),
       url('syh-norm.svg#syh-norm') format('svg');
}
