@font-face {
  font-family: 'jk-w02';
  src: url('w02.eot');
  src: url('w02.eot?#iefix') format('embedded-opentype'),
       url('w02.woff2') format('woff2'),
       url('w02.woff') format('woff'),
       url('w02.ttf') format('truetype'),
       url('w02.svg#w02') format('svg');
}
