@font-face {
  font-family: 'lth-qh';
  src: url('qh.eot');
  src: url('qh.eot?#iefix') format('embedded-opentype'),
       url('qh.woff2') format('woff2'),
       url('qh.woff') format('woff'),
       url('qh.ttf') format('truetype'),
       url('qh.svg#qh') format('svg');
}
