@font-face {
  font-family: 'lth-zh';
  src: url('zh.eot');
  src: url('zh.eot?#iefix') format('embedded-opentype'),
       url('zh.woff2') format('woff2'),
       url('zh.woff') format('woff'),
       url('zh.ttf') format('truetype'),
       url('zh.svg#zh') format('svg');
}
