@font-face {
  font-family: 'lth-zch';
  src: url('zch.eot');
  src: url('zch.eot?#iefix') format('embedded-opentype'),
       url('zch.woff2') format('woff2'),
       url('zch.woff') format('woff'),
       url('zch.ttf') format('truetype'),
       url('zch.svg#zch') format('svg');
}
