@font-face {
  font-family: 'yh-512B';
  src: url('512B.eot');
  src: url('512B.eot?#iefix') format('embedded-opentype'),
       url('512B.woff2') format('woff2'),
       url('512B.woff') format('woff'),
       url('512B.ttf') format('truetype'),
       url('512B.svg#512B') format('svg');
}
