@font-face {
  font-family: 'syh-reg';
  src: url('syh-reg.eot');
  src: url('syh-reg.eot?#iefix') format('embedded-opentype'),
       url('syh-reg.woff2') format('woff2'),
       url('syh-reg.woff') format('woff'),
       url('syh-reg.ttf') format('truetype'),
       url('syh-reg.svg#syh-reg') format('svg');
}
