@font-face {
  font-family: 'noto-bold';
  src: url('bold.eot');
  src: url('bold.eot?#iefix') format('embedded-opentype'),
       url('bold.woff2') format('woff2'),
       url('bold.woff') format('woff'),
       url('bold.ttf') format('truetype'),
       url('bold.svg#bold') format('svg');
}
