@font-face {
  font-family: 'lth-h';
  src: url('h.eot');
  src: url('h.eot?#iefix') format('embedded-opentype'),
       url('h.woff2') format('woff2'),
       url('h.woff') format('woff'),
       url('h.ttf') format('truetype'),
       url('h.svg#h') format('svg');
}
