@font-face {
  font-family: 'lth-bh';
  src: url('bh.eot');
  src: url('bh.eot?#iefix') format('embedded-opentype'),
       url('bh.woff2') format('woff2'),
       url('bh.woff') format('woff'),
       url('bh.ttf') format('truetype'),
       url('bh.svg#bh') format('svg');
}
