@font-face {
  font-family: 'lth-dh';
  src: url('dh.eot');
  src: url('dh.eot?#iefix') format('embedded-opentype'),
       url('dh.woff2') format('woff2'),
       url('dh.woff') format('woff'),
       url('dh.ttf') format('truetype'),
       url('dh.svg#dh') format('svg');
}
