@font-face {
  font-family: 'lth-xh';
  src: url('xh.eot');
  src: url('xh.eot?#iefix') format('embedded-opentype'),
       url('xh.woff2') format('woff2'),
       url('xh.woff') format('woff'),
       url('xh.ttf') format('truetype'),
       url('xh.svg#xh') format('svg');
}
