@font-face {
  font-family: 'noto-medium';
  src: url('medium.eot');
  src: url('medium.eot?#iefix') format('embedded-opentype'),
       url('medium.woff2') format('woff2'),
       url('medium.woff') format('woff'),
       url('medium.ttf') format('truetype'),
       url('medium.svg#medium') format('svg');
}
