@font-face {
  font-family: 'syh-hv';
  src: url('syh-hv.eot');
  src: url('syh-hv.eot?#iefix') format('embedded-opentype'),
       url('syh-hv.woff2') format('woff2'),
       url('syh-hv.woff') format('woff'),
       url('syh-hv.ttf') format('truetype'),
       url('syh-hv.svg#syh-hv') format('svg');
}
