@font-face {
  font-family: 'yh-501L';
  src: url('501L.eot');
  src: url('501L.eot?#iefix') format('embedded-opentype'),
       url('501L.woff2') format('woff2'),
       url('501L.woff') format('woff'),
       url('501L.ttf') format('truetype'),
       url('501L.svg#501L') format('svg');
}
