@font-face {
  font-family: 'jk-w05';
  src: url('w05.eot');
  src: url('w05.eot?#iefix') format('embedded-opentype'),
       url('w05.woff2') format('woff2'),
       url('w05.woff') format('woff'),
       url('w05.ttf') format('truetype'),
       url('w05.svg#w05') format('svg');
}
