@font-face {
  font-family: 'noto-dlight';
  src: url('dlight.eot');
  src: url('dlight.eot?#iefix') format('embedded-opentype'),
       url('dlight.woff2') format('woff2'),
       url('dlight.woff') format('woff'),
       url('dlight.ttf') format('truetype'),
       url('dlight.svg#dlight') format('svg');
}
