@font-face {
  font-family: 'jk-w04';
  src: url('w04.eot');
  src: url('w04.eot?#iefix') format('embedded-opentype'),
       url('w04.woff2') format('woff2'),
       url('w04.woff') format('woff'),
       url('w04.ttf') format('truetype'),
       url('w04.svg#w01') format('svg');
}
