@font-face {
  font-family: 'jk-w01';
  src: url('w01.eot');
  src: url('w01.eot?#iefix') format('embedded-opentype'),
       url('w01.woff2') format('woff2'),
       url('w01.woff') format('woff'),
       url('w01.ttf') format('truetype'),
       url('w01.svg#w01') format('svg');
}
