@font-face {
  font-family: 'yh-503L';
  src: url('503L.eot');
  src: url('503L.eot?#iefix') format('embedded-opentype'),
       url('503L.woff2') format('woff2'),
       url('503L.woff') format('woff'),
       url('503L.ttf') format('truetype'),
       url('503L.svg#503L') format('svg');
}
