@font-face {
  font-family: 'lth-ch';
  src: url('ch.eot');
  src: url('ch.eot?#iefix') format('embedded-opentype'),
       url('ch.woff2') format('woff2'),
       url('ch.woff') format('woff'),
       url('ch.ttf') format('truetype'),
       url('ch.svg#ch') format('svg');
}
