@font-face {
  font-family: 'dqh-w6';
  src: url('w6.eot');
  src: url('w6.eot?#iefix') format('embedded-opentype'),
       url('w6.woff2') format('woff2'),
       url('w6.woff') format('woff'),
       url('w6.ttf') format('truetype'),
       url('w6.svg#w6') format('svg');
}
