@font-face {
  font-family: 'wqy-wmh-dk';
  src: url('wmh-dk.eot');
  src: url('wmh-dk.eot?#iefix') format('embedded-opentype'),
       url('wmh-dk.woff2') format('woff2'),
       url('wmh-dk.woff') format('woff'),
       url('wmh-dk.ttf') format('truetype'),
       url('wmh-dk.svg#wmh-dk') format('svg');
}
