@font-face {
  font-family: 'noto-black';
  src: url('black.eot');
  src: url('black.eot?#iefix') format('embedded-opentype'),
       url('black.woff2') format('woff2'),
       url('black.woff') format('woff'),
       url('black.ttf') format('truetype'),
       url('black.svg#black') format('svg');
}
