@font-face {
  font-family: 'lth-thc';
  src: url('thc.eot');
  src: url('thc.eot?#iefix') format('embedded-opentype'),
       url('thc.woff2') format('woff2'),
       url('thc.woff') format('woff'),
       url('thc.ttf') format('truetype'),
       url('thc.svg#thc') format('svg');
}
