@font-face {
  font-family: 'yh-504L';
  src: url('504L.eot');
  src: url('504L.eot?#iefix') format('embedded-opentype'),
       url('504L.woff2') format('woff2'),
       url('504L.woff') format('woff'),
       url('504L.ttf') format('truetype'),
       url('504L.svg#504L') format('svg');
}
