@font-face {
  font-family: 'syh-med';
  src: url('syh-med.eot');
  src: url('syh-med.eot?#iefix') format('embedded-opentype'),
       url('syh-med.woff2') format('woff2'),
       url('syh-med.woff') format('woff'),
       url('syh-med.ttf') format('truetype'),
       url('syh-med.svg#syh-med') format('svg');
}
