@font-face {
  font-family: 'lth-kh';
  src: url('kh.eot');
  src: url('kh.eot?#iefix') format('embedded-opentype'),
       url('kh.woff2') format('woff2'),
       url('kh.woff') format('woff'),
       url('kh.ttf') format('truetype'),
       url('kh.svg#kh') format('svg');
}
