@font-face {
  font-family: 'lth-hc';
  src: url('hc.eot');
  src: url('hc.eot?#iefix') format('embedded-opentype'),
       url('hc.woff2') format('woff2'),
       url('hc.woff') format('woff'),
       url('hc.ttf') format('truetype'),
       url('hc.svg#hc') format('svg');
}
