@font-face {
  font-family: 'lth-th';
  src: url('th.eot');
  src: url('th.eot?#iefix') format('embedded-opentype'),
       url('th.woff2') format('woff2'),
       url('th.woff') format('woff'),
       url('th.ttf') format('truetype'),
       url('th.svg#th') format('svg');
}
