@font-face {
  font-family: 'lth-cxh';
  src: url('cxh.eot');
  src: url('cxh.eot?#iefix') format('embedded-opentype'),
       url('cxh.woff2') format('woff2'),
       url('cxh.woff') format('woff'),
       url('cxh.ttf') format('truetype'),
       url('cxh.svg#cxh') format('svg');
}
