@font-face {
  font-family: 'yh-513B';
  src: url('513B.eot');
  src: url('513B.eot?#iefix') format('embedded-opentype'),
       url('513B.woff2') format('woff2'),
       url('513B.woff') format('woff'),
       url('513B.ttf') format('truetype'),
       url('513B.svg#513B') format('svg');
}
