@font-face {
  font-family: 'syg-lt';
  src: url('syg-lt.eot');
  src: url('syg-lt.eot?#iefix') format('embedded-opentype'),
       url('syg-lt.woff2') format('woff2'),
       url('syg-lt.woff') format('woff'),
       url('syg-lt.ttf') format('truetype'),
       url('syg-lt.svg#syg-lt') format('svg');
}
