@font-face {
  font-family: 'lth-thb';
  src: url('thb.eot');
  src: url('thb.eot?#iefix') format('embedded-opentype'),
       url('thb.woff2') format('woff2'),
       url('thb.woff') format('woff'),
       url('thb.ttf') format('truetype'),
       url('thb.svg#thb') format('svg');
}
